DATABASE_WRITE_URL=postgres://user:password@localhost:5432/logging?sslmode=disable
DATABASE_READ_URL=postgres://user:password@localhost:5432/logging?sslmode=disable

ELASTICSEARCH_URL=http://localhost:9200

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

PORT=8080
